* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --navbar-height: 90px;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
.hero__title,
.hero__subtitle,
.navbar__logo {
  font-family: "Kalnia", Georgia, serif;
}
